h1{
    text-align: center;
}

table{
    margin: auto;
}

table, th,td{
    border-collapse: collapse;
}

thead{
    background-color: orangered;
    color: white;
}
 th{
    padding: 20px;
 }

 tbody> tr:nth-child(even){
    background: #ccc;
 }

 tbody> tr:nth-child(odd){
    background: #fff;
 }

 tbody tr:hover{
    background-color: rgba(255, 68, 0, 0.5);
 }

 td{
    padding: 5px;
    text-align: right;
 }

 .green{
    background-color: rgba(54, 149, 49, 0.5);

 }

 .red{
    background-color: rgba(165, 41, 37, 0.5);

 }

 tfoot{
    background-color: black;
    color: white;
 }

 tfoot td{
    padding:20px;
 }